Repository arafaysaleem/Stadium-Tickets-Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: controllers, repositories, loaders, database, middlewares, validators, models, routes, utilities, enums, exceptions, config, linting, CI/CD, backups, documentation, tests

chore(Backups): update sql
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_schema.dump
Labels: none

refact(Zone): change response for zone seats
  src/controllers/zone.controller.js
  src/db/models/zone.model.js
  src/repositories/eventBooking.repository.js
  src/repositories/zone.repository.js
  src/routes/zone.routes.js
Labels: controllers, repositories, database, routes

chore(backups): add sql for new routes
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
Labels: none

refact(Zone): move seats into sub arrays
  src/repositories/zone.repository.js
Labels: repositories

Release 11/23/2022 (#45)
  package-lock.json
  package.json
Labels: none

parking spaces refactor
  src/controllers/parkingFloor.controller.js
  src/db/models/bookingParkingSpace.model.js
  src/db/models/parkingFloor.model.js
  src/middleware/error.middleware.js
  src/repositories/parkingFloor.repository.js
  src/routes/eventBooking.routes.js
  src/routes/parkingFloor.routes.js
Labels: controllers, repositories, database, middlewares, routes

refact(Zones-API): add number to zone
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
  backups/stadium_tickets_db_schema.sql
  src/db/models/zone.model.js
  src/middleware/validators/zoneValidator.middleware.js
Labels: database, middlewares, validators

chore(Backup): add remote db restore script
  postgresql_restore_prod.sh
Labels: none

add sendgrid booking email
  src/controllers/eventBooking.controller.js
  src/middleware/validators/eventBookingValidator.middleware.js
  src/repositories/eventBooking.repository.js
  src/routes/eventBooking.routes.js
  src/utils/sendgrid.utils.js
Labels: controllers, repositories, middlewares, validators, routes, utilities

minor fixes
  src/middleware/validators/eventBookingValidator.middleware.js
  src/repositories/eventBooking.repository.js
  src/utils/sendgrid.utils.js
Labels: repositories, middlewares, validators, utilities

adjust event booking model
  src/db/models/eventBooking.model.js
  src/middleware/validators/eventBookingValidator.middleware.js
  src/repositories/eventBooking.repository.js
Labels: repositories, database, middlewares, validators

make fresh db backups
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
  backups/stadium_tickets_db_schema.sql
  postgresql_restore_local.sh
Labels: none

setup backups and sendgrid
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_schema.dump
  postgresql_restore_prod.sh
  src/configs/config.js
  src/db/models/parkingFloor.model.js
  src/middleware/validators/eventBookingValidator.middleware.js
  src/repositories/eventBooking.repository.js
  src/repositories/parkingFloor.repository.js
  src/utils/sendgrid.utils.js
Labels: repositories, database, middlewares, validators, utilities

add new data backups
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_schema.dump
Labels: none

update regex
  src/middleware/validators/eventBookingValidator.middleware.js
  src/utils/common.utils.js
Labels: middlewares, validators, utilities

update event name validators
  src/middleware/validators/eventBookingValidator.middleware.js
  src/middleware/validators/eventValidator.middleware.js
Labels: middlewares, validators

changes latest
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
  src/controllers/zoneResource.controller.js
  src/middleware/validators/eventBookingValidator.middleware.js
  src/middleware/validators/eventValidator.middleware.js
  src/repositories/zoneResource.repository.js
Labels: controllers, repositories, middlewares, validators

minor
  src/loaders/middleware.loader.js
  src/utils/sendgrid.utils.js
Labels: loaders, utilities

add event filtering to spaces and seats
  src/controllers/parkingFloor.controller.js
  src/controllers/zone.controller.js
  src/db/models/bookingParkingSpace.model.js
  src/db/models/eventBooking.model.js
  src/middleware/validators/parkingFloorValidator.middleware.js
  src/middleware/validators/zoneValidator.middleware.js
  src/repositories/parkingFloor.repository.js
  src/repositories/zone.repository.js
  src/routes/parkingFloor.routes.js
  src/routes/zone.routes.js
Labels: controllers, repositories, database, middlewares, validators, routes

refactor booked/disabled seats
  src/controllers/eventBooking.controller.js
  src/controllers/parkingFloor.controller.js
  src/controllers/zone.controller.js
  src/db/models/eventBooking.model.js
  src/db/models/parkingFloor.model.js
  src/db/models/zone.model.js
  src/middleware/validators/eventBookingValidator.middleware.js
  src/repositories/eventBooking.repository.js
  src/repositories/parkingFloor.repository.js
  src/repositories/zone.repository.js
  src/routes/eventBooking.routes.js
  src/routes/parkingFloor.routes.js
  src/routes/zone.routes.js
Labels: controllers, repositories, database, middlewares, validators, routes

refactor disabled seat/space model
  src/repositories/parkingFloor.repository.js
  src/repositories/zone.repository.js
  src/routes/eventBooking.routes.js
Labels: repositories, routes

add price to parking floor
  src/repositories/parkingFloor.repository.js
Labels: repositories

small parking parking and id related fixes
  src/middleware/validators/eventBookingValidator.middleware.js
  src/utils/common.utils.js
  src/utils/sendgrid.utils.js
Labels: middlewares, validators, utilities

fix validation
  src/middleware/validators/eventBookingValidator.middleware.js
Labels: middlewares, validators

chore(backups): create new backups
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
Labels: none

update phone number regex
  src/db/models/eventBooking.model.js
  src/middleware/validators/eventBookingValidator.middleware.js
  src/utils/common.utils.js
Labels: database, middlewares, validators, utilities

update backups with person contact
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
  backups/stadium_tickets_db_schema.sql
Labels: none

contact validator fix
  src/middleware/validators/eventBookingValidator.middleware.js
Labels: middlewares, validators

add snacks to payment
  src/middleware/validators/eventBookingValidator.middleware.js
Labels: middlewares, validators

add snacks to sendgrid email data
  src/utils/sendgrid.utils.js
Labels: utilities

add food models
  src/db/dbContext.js
  src/db/models/brand.model.js
  src/db/models/category.model.js
  src/db/models/snack.model.js
Labels: database

add repositories
  src/db/dbContext.js
  src/repositories/brand.repository.js
  src/repositories/category.repository.js
  src/repositories/snack.repository.js
Labels: repositories, database

add food controllers
  src/controllers/brand.controller.js
  src/controllers/category.controller.js
  src/controllers/snack.controller.js
Labels: controllers

add food routes
  src/routes/food.routes.js
Labels: routes

add validators
  src/db/models/snack.model.js
  src/middleware/validators/brandValidator.middleware.js
  src/middleware/validators/categoryValidator.middleware.js
  src/middleware/validators/snackValidator.middleware.js
Labels: database, middlewares, validators

add routes
  src/loaders/routes.loader.js
  src/routes/brand.routes.js
  src/routes/category.routes.js
  src/routes/food.routes.js
  src/routes/snack.routes.js
Labels: loaders, routes

chore(SQL): add backups
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
Labels: none

chore(backup): add sql for food
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
  backups/stadium_tickets_db_schema.sql
Labels: none

add snack name to sendgrid
  src/middleware/validators/eventBookingValidator.middleware.js
Labels: middlewares, validators

route and middleware fixes
  src/db/models/brand.model.js
  src/middleware/validators/brandValidator.middleware.js
  src/middleware/validators/snackValidator.middleware.js
  src/routes/brand.routes.js
  src/routes/snack.routes.js
Labels: database, middlewares, validators, routes

.github/labeler.yml:

controllers:
- any: ['src/controllers/**/*.controller.js']

repositories:
- any: ['src/repositories/**/*.repository.js']

loaders:
- any: ['src/loaders/**/*.loader.js']

database:
- any: ['src/db/**/*']

middlewares:
- any: ['src/middleware/**/*.middleware.js']

validators:
- any: ['src/middleware/validators/*.middleware.js']

models:
- any: ['src/models/**/*.model.js']

routes:
- any: ['src/routes/**/*.routes.js']

utilities:
- any: ['src/utils/**/*']

enums:
- any: ['src/utils/enums/**/*']

exceptions:
- any: ['src/utils/exceptions/**/*']

config:
- any: ['src/server.js', 'configs/**/*']

scripts:
- any: ['package.json']
  all: ['!package-lock.json']

dependencies:
- all: ['package.json','package-lock.json']

linting:
- any: ['.eslintrc.json']

CI/CD:
- any: ['.github/**/*']

backups:
- any: ['backups/**/*.sql','backups/**/*.zip','backups/**/encrypted_cfgs']

documentation:
- any: ['README.md']

tests:
- any: ['test/**/*.spec.js','**/*.test.js']
