Repository arafaysaleem/Stadium-Tickets-Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: controllers, repositories, loaders, database, middlewares, validators, models, routes, utilities, enums, exceptions, config, linting, CI/CD, backups, documentation, tests

.github/labeler.yml:

controllers:
- any: ['src/controllers/**/*.controller.js']

repositories:
- any: ['src/repositories/**/*.repository.js']

loaders:
- any: ['src/loaders/**/*.loader.js']

database:
- any: ['src/db/**/*']

middlewares:
- any: ['src/middleware/**/*.middleware.js']

validators:
- any: ['src/middleware/validators/*.middleware.js']

models:
- any: ['src/models/**/*.model.js']

routes:
- any: ['src/routes/**/*.routes.js']

utilities:
- any: ['src/utils/**/*']

enums:
- any: ['src/utils/enums/**/*']

exceptions:
- any: ['src/utils/exceptions/**/*']

config:
- any: ['src/server.js', 'configs/**/*']

scripts:
- any: ['package.json']
  all: ['!package-lock.json']

dependencies:
- all: ['package.json','package-lock.json']

linting:
- any: ['.eslintrc.json']

CI/CD:
- any: ['.github/**/*']

backups:
- any: ['backups/**/*.sql','backups/**/*.zip','backups/**/encrypted_cfgs']

documentation:
- any: ['README.md']

tests:
- any: ['test/**/*.spec.js','**/*.test.js']

add(deps): add postgres
  package-lock.json
  package.json
Labels: none

db
  src/configs/config.js
  src/db/db-service.js
  src/db/db-transaction.js
  src/index.js
  src/loaders/database.loader.js
  src/loaders/express.loader.js
  src/loaders/middleware.loader.js
  src/loaders/sentry.loader.js
  src/middleware/error.middleware.js
  src/models/event.model.js
  src/utils/exceptions/api.exception.js
  src/utils/exceptions/auth.exception.js
  src/utils/exceptions/database.exception.js
  src/utils/exceptions/validation.exception.js
Labels: loaders, database, middlewares, models, utilities, exceptions

add(Models): add event and zone models
  src/models/zone.model.js
  src/models/zoneType.model.js
Labels: models

add(Models): add zone sub models
  src/models/zone.model.js
  src/models/zoneResource.model.js
  src/models/zoneSeat.model.js
Labels: models

add(Models): add logic to load models into sequelize
  src/db/dbService.js
  src/loaders/database.loader.js
  src/models/event.model.js
  src/models/modelManager.js
  src/models/zone.model.js
  src/models/zoneResource.model.js
  src/models/zoneSeat.model.js
  src/models/zoneType.model.js
Labels: loaders, database, models

refact: add user model, repo, enums
  src/loaders/database.loader.js
  src/models/event.model.js
  src/models/modelManager.js
  src/models/user.model.js
  src/models/zoneResource.model.js
  src/models/zoneSeat.model.js
  src/repositories/user.repository.js
  src/utils/enums/days.enum.js
  src/utils/enums/eventTypes.enum.js
  src/utils/enums/requestMethods.enum.js
  src/utils/enums/resourceType.enum.js
  src/utils/enums/roles.enum.js
  src/utils/enums/seatTypes.enum.js
Labels: repositories, loaders, models, utilities, enums

add auth apis and user apis
  package-lock.json
  package.json
  src/configs/config.js
  src/controllers/auth.controller.js
  src/controllers/student.controller.js
  src/loaders/middleware.loader.js
  src/loaders/routes.loader.js
  src/middleware/auth.middleware.js
  src/middleware/validators/authValidator.middleware.js
  src/middleware/validators/userValidator.middleware.js
  src/repositories/auth.repository.js
  src/repositories/user.repository.js
  src/routes/auth.routes.js
  src/routes/user.routes.js
Labels: controllers, repositories, loaders, middlewares, validators, routes

fix api launch issues
  src/controllers/student.controller.js
  src/controllers/user.controller.js
  src/db/dbService.js
  src/loaders/database.loader.js
  src/middleware/validators/userValidator.middleware.js
  src/models/modelManager.js
  src/models/zone.model.js
  src/models/zoneResource.model.js
  src/models/zoneSeat.model.js
  src/models/zoneType.model.js
  src/routes/user.routes.js
Labels: controllers, loaders, database, middlewares, validators, models, routes

add migrations support
  .sequelizerc
  package-lock.json
  package.json
  src/configs/dbConfig.js
Labels: none

fixes
  .sequelizerc
  .vscode/launch.json
  package.json
  src/configs/dbConfig.js
  src/db/dbService.js
  src/index.js
  src/loaders/database.loader.js
  src/loaders/middleware.loader.js
  src/loaders/routes.loader.js
  src/middleware/auth.middleware.js
  src/models/modelManager.js
  src/repositories/auth.repository.js
  src/repositories/user.repository.js
  src/server.js
Labels: repositories, loaders, database, middlewares

fixes
  src/db/dbService.js
  src/middleware/error.middleware.js
  src/middleware/validators/authValidator.middleware.js
  src/middleware/validators/userValidator.middleware.js
  src/repositories/auth.repository.js
  src/repositories/user.repository.js
Labels: repositories, database, middlewares, validators

refactors and fixes
  src/db/dbContext.js
  src/db/dbService.js
  src/db/models/event.model.js
  src/db/models/user.model.js
  src/db/models/zone.model.js
  src/db/models/zoneResource.model.js
  src/db/models/zoneSeat.model.js
  src/db/models/zoneType.model.js
  src/loaders/database.loader.js
  src/middleware/auth.middleware.js
  src/models/modelManager.js
  src/repositories/auth.repository.js
  src/repositories/user.repository.js
  src/routes/user.routes.js
Labels: repositories, loaders, database, middlewares, routes

fix route loader
  src/loaders/routes.loader.js
Labels: loaders

change logging and rows matched name
  src/db/dbContext.js
  src/repositories/auth.repository.js
  src/repositories/user.repository.js
Labels: repositories, database

Squashed commit of the following:
  src/controllers/zoneType.controller.js
  src/db/dbContext.js
  src/db/models/user.model.js
  src/db/models/zone.model.js
  src/db/models/zoneResource.model.js
  src/db/models/zoneSeat.model.js
  src/db/models/zoneType.model.js
  src/loaders/routes.loader.js
  src/middleware/validators/zoneTypeValidator.middleware.js
  src/repositories/zoneType.repository.js
  src/routes/zoneType.routes.js
Labels: controllers, repositories, loaders, database, middlewares, validators, routes

feat(API): add endpoints for zone resources
  src/controllers/zoneResource.controller.js
  src/db/models/zoneResource.model.js
  src/loaders/routes.loader.js
  src/middleware/validators/zoneResourceValidator.middleware.js
  src/repositories/zoneResource.repository.js
  src/routes/zone.routes.js
Labels: controllers, repositories, loaders, database, middlewares, validators, routes

feat(API): add zones endpoints
  src/controllers/zone.controller.js
  src/db/models/zone.model.js
  src/db/models/zoneType.model.js
  src/middleware/validators/zoneValidator.middleware.js
  src/repositories/zone.repository.js
  src/routes/zone.routes.js
  src/utils/enums/seatTypes.enum.js
Labels: controllers, repositories, database, middlewares, validators, routes, utilities, enums

some fixes for zones api
  src/db/dbContext.js
  src/db/models/zone.model.js
  src/middleware/error.middleware.js
  src/middleware/validators/zoneValidator.middleware.js
Labels: database, middlewares, validators

fixes for zone resources
  src/configs/config.js
  src/controllers/zoneResource.controller.js
  src/middleware/validators/userValidator.middleware.js
  src/middleware/validators/zoneResourceValidator.middleware.js
  src/middleware/validators/zoneValidator.middleware.js
  src/repositories/zoneResource.repository.js
  src/routes/zone.routes.js
Labels: controllers, repositories, middlewares, validators, routes

add param checks to validators
  src/middleware/validators/zoneTypeValidator.middleware.js
  src/routes/user.routes.js
  src/routes/zoneType.routes.js
Labels: middlewares, validators, routes

add api for zone seats
  src/controllers/user.controller.js
  src/controllers/zoneSeat.controller.js
  src/db/models/zoneSeat.model.js
  src/loaders/routes.loader.js
  src/middleware/validators/userValidator.middleware.js
  src/middleware/validators/zoneResourceValidator.middleware.js
  src/middleware/validators/zoneSeatValidator.middleware.js
  src/middleware/validators/zoneTypeValidator.middleware.js
  src/middleware/validators/zoneValidator.middleware.js
  src/repositories/zoneSeat.repository.js
  src/routes/healthCheck.routes.js
  src/routes/user.routes.js
  src/routes/zone.routes.js
  src/routes/zoneResource.routes.js
  src/routes/zoneSeat.routes.js
  src/routes/zoneType.routes.js
Labels: controllers, repositories, loaders, database, middlewares, validators, routes

minor fixes
  README.md
  package.json
  src/middleware/validators/zoneSeatValidator.middleware.js
  src/middleware/validators/zoneValidator.middleware.js
Labels: middlewares, validators, documentation

chore(backups): add postgres sql backup
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.sql
  postgresql_backup_dump.sh
Labels: none

refactors for enums
  src/controllers/zoneDisabledSeat.controller.js
  src/controllers/zoneSeat.controller.js
  src/db/models/event.model.js
  src/db/models/user.model.js
  src/db/models/zone.model.js
  src/db/models/zoneDisabledSeat.model.js
  src/db/models/zoneResource.model.js
  src/loaders/routes.loader.js
  src/middleware/validators/userValidator.middleware.js
  src/middleware/validators/zoneDisabledSeatValidator.middleware.js
  src/middleware/validators/zoneResourceValidator.middleware.js
  src/middleware/validators/zoneValidator.middleware.js
  src/repositories/zoneDisabledSeat.repository.js
  src/repositories/zoneSeat.repository.js
  src/routes/user.routes.js
  src/routes/zone.routes.js
  src/routes/zoneDisabledSeat.routes.js
  src/routes/zoneResource.routes.js
  src/routes/zoneSeat.routes.js
  src/routes/zoneType.routes.js
  src/utils/enums/day.enum.js
  src/utils/enums/disabledSeatType.enum.js
  src/utils/enums/eventType.enum.js
  src/utils/enums/requestMethod.enum.js
  src/utils/enums/resourceType.enum.js
  src/utils/enums/role.enum.js
  src/utils/enums/seatTypes.enum.js
Labels: controllers, repositories, loaders, database, middlewares, validators, routes, utilities, enums

add(Models): parking floors and disabled spaces
  src/db/dbContext.js
  src/db/models/parkingDisabledSpace.model.js
  src/db/models/parkingFloor.model.js
  src/utils/enums/disabledSpaceType.enum.js
Labels: database, utilities, enums

update db context and backups
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.sql
  src/db/dbContext.js
  src/db/models/parkingDisabledSpace.model.js
Labels: database

chore(Backups): add postgre dump backup support
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_schema.dump
  backups/stadium_tickets_db_schema.sql
  postgresql_backup_dump.sh
Labels: none

add(API): add parking floors and disabled seats
  src/controllers/parkingDisabledSpace.controller.js
  src/controllers/parkingFloor.controller.js
  src/loaders/routes.loader.js
  src/middleware/validators/parkingDisabledSpaceValidator.middleware.js
  src/middleware/validators/parkingFloorValidator.middleware.js
  src/repositories/parkingDisabledSpace.repository.js
  src/repositories/parkingFloor.repository.js
  src/routes/parkingDisabledSpace.routes.js
  src/routes/parkingFloor.routes.js
Labels: controllers, repositories, loaders, middlewares, validators, routes

Add foreign key checks to findOne methods for sub collections
  src/controllers/parkingDisabledSpace.controller.js
  src/controllers/zoneDisabledSeat.controller.js
  src/db/models/parkingDisabledSpace.model.js
  src/db/models/parkingFloor.model.js
  src/db/models/zone.model.js
  src/db/models/zoneDisabledSeat.model.js
  src/db/models/zoneResource.model.js
  src/middleware/validators/parkingFloorValidator.middleware.js
  src/repositories/parkingDisabledSpace.repository.js
  src/repositories/zoneDisabledSeat.repository.js
Labels: controllers, repositories, database, middlewares, validators

chore(Backup): sql for all dbs
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
Labels: none

feat(API): add events endpoint impl
  src/controllers/event.controller.js
  src/db/models/event.model.js
  src/loaders/routes.loader.js
  src/middleware/validators/eventValidator.middleware.js
  src/repositories/event.repository.js
  src/routes/event.routes.js
  src/utils/common.utils.js
  src/utils/enums/eventStatus.enum.js
Labels: controllers, repositories, loaders, database, middlewares, validators, routes, utilities, enums

add(API): add event booking endpoints
  src/controllers/bookingParkingSpace.controller.js
  src/controllers/bookingSeat.controller.js
  src/controllers/event.controller.js
  src/controllers/eventBooking.controller.js
  src/controllers/parkingFloor.controller.js
  src/controllers/zone.controller.js
  src/db/dbContext.js
  src/db/models/bookingParkingSpace.model.js
  src/db/models/bookingSeat.model.js
  src/db/models/eventBooking.model.js
  src/db/models/eventBooking.repository.js
  src/loaders/routes.loader.js
  src/middleware/validators/bookingParkingSpaceValidator.middleware.js
  src/middleware/validators/bookingSeatValidator.middleware.js
  src/middleware/validators/eventBookingValidator.middleware.js
  src/middleware/validators/zoneValidator.middleware.js
  src/repositories/bookingParkingSpace.repository.js
  src/repositories/bookingSeat.repository.js
  src/repositories/eventBooking.repository.js
  src/repositories/parkingFloor.repository.js
  src/routes/bookingParkingSpace.routes.js
  src/routes/bookingSeat.routes.js
  src/routes/event.routes.js
  src/routes/eventBooking.routes.js
  src/routes/parkingFloor.routes.js
  src/routes/zone.routes.js
  src/utils/enums/bookingStatus.enum.js
Labels: controllers, repositories, loaders, database, middlewares, validators, routes, utilities, enums

fix events api
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
  backups/stadium_tickets_db_schema.sql
  src/db/models/eventBooking.model.js
  src/db/models/eventBooking.repository.js
  src/db/models/zone.model.js
  src/middleware/validators/eventBookingValidator.middleware.js
  src/middleware/validators/eventValidator.middleware.js
  src/middleware/validators/zoneValidator.middleware.js
Labels: database, middlewares, validators

more fixes
  src/controllers/eventBooking.controller.js
  src/db/models/eventBooking.model.js
  src/middleware/validators/eventBookingValidator.middleware.js
Labels: controllers, database, middlewares, validators

chore(Backups): save event bookings
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
Labels: none

add deployment stuff
  .github/workflows/build-test.yml
  .github/workflows/deploy-azure.yml
  .github/workflows/deploy-heroku.yml
  Procfile
  src/configs/config.js
  src/loaders/routes.loader.js
  test/integration/healthCheck.test.js
  test/integration/report/assets/MaterialIcons-Regular.woff
  test/integration/report/assets/MaterialIcons-Regular.woff2
  test/integration/report/assets/app.css
  test/integration/report/assets/app.js
  test/integration/report/assets/app.js.LICENSE.txt
  test/integration/report/assets/roboto-light-webfont.woff
  test/integration/report/assets/roboto-light-webfont.woff2
  test/integration/report/assets/roboto-medium-webfont.woff
  test/integration/report/assets/roboto-medium-webfont.woff2
  test/integration/report/assets/roboto-regular-webfont.woff
  test/integration/report/assets/roboto-regular-webfont.woff2
  test/integration/report/integration-tests-report.html
Labels: loaders, CI/CD

fix ssl errors
  src/db/dbContext.js
  src/middleware/error.middleware.js
Labels: database, middlewares

refact(Db): add ssl for prod
  src/db/dbContext.js
  src/loaders/database.loader.js
Labels: loaders, database

refact(Middleware): add unhandled excpn handling
  src/middleware/error.middleware.js
Labels: middlewares

bug(Repo): load booked seats for a zone
  src/repositories/event.repository.js
  src/repositories/eventBooking.repository.js
  src/routes/parkingFloor.routes.js
Labels: repositories, routes
