Repository arafaysaleem/Stadium-Tickets-Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: controllers, repositories, loaders, database, middlewares, validators, models, routes, utilities, enums, exceptions, config, linting, CI/CD, backups, documentation, tests

chore(Backups): store food sql data
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
Labels: none

add snack bookings
  src/db/models/bookingSnack.model.js
  src/db/models/eventBooking.model.js
  src/middleware/validators/eventBookingValidator.middleware.js
Labels: database, middlewares, validators

add snacks to bookings tables
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
  backups/stadium_tickets_db_schema.sql
  src/db/dbContext.js
Labels: database

chore(SQL): update for snack booking
  backups/stadium_tickets_db.dump
  backups/stadium_tickets_db.sql
  backups/stadium_tickets_db_data.dump
  backups/stadium_tickets_db_data.sql
  backups/stadium_tickets_db_schema.dump
Labels: none

edit email template
  src/utils/sendgrid.utils.js
Labels: utilities

add snack brand
  src/middleware/validators/eventBookingValidator.middleware.js
Labels: middlewares, validators

.github/labeler.yml:

controllers:
- any: ['src/controllers/**/*.controller.js']

repositories:
- any: ['src/repositories/**/*.repository.js']

loaders:
- any: ['src/loaders/**/*.loader.js']

database:
- any: ['src/db/**/*']

middlewares:
- any: ['src/middleware/**/*.middleware.js']

validators:
- any: ['src/middleware/validators/*.middleware.js']

models:
- any: ['src/models/**/*.model.js']

routes:
- any: ['src/routes/**/*.routes.js']

utilities:
- any: ['src/utils/**/*']

enums:
- any: ['src/utils/enums/**/*']

exceptions:
- any: ['src/utils/exceptions/**/*']

config:
- any: ['src/server.js', 'configs/**/*']

scripts:
- any: ['package.json']
  all: ['!package-lock.json']

dependencies:
- all: ['package.json','package-lock.json']

linting:
- any: ['.eslintrc.json']

CI/CD:
- any: ['.github/**/*']

backups:
- any: ['backups/**/*.sql','backups/**/*.zip','backups/**/encrypted_cfgs']

documentation:
- any: ['README.md']

tests:
- any: ['test/**/*.spec.js','**/*.test.js']
